extends layout

block scripts
	script.
		$(document).ready(function(){ 
		//generate table of the odds csv we loaded
		var table = ""
		var predictions = '#{predictions}'
		function htmlDecode(input){
			var e = document.createElement('div');
			e.innerHTML = input;
			return e.childNodes[0].nodeValue;
		}
		//convert sanitized html to actual html and insert our predictions table
		tableHtml = htmlDecode(predictions)
		$('#predictionsTable').append(tableHtml)	
		})
	script
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-46783114-2', 'kohlibracketgenerator.herokuapp.com');
		ga('send', 'pageview');
	script(src="js/jquerybracket.js")
	link(rel='stylesheet', href='/css/bracket.css')
	script(src="js/bracketgen.js")
block content
	div.container
		div.jumbotron
			h1= title
			p James's #{title}
			p
				button.btn.btn-default.btn-lg#simulateRound(type="button") Simulate a round!
				button.btn.btn-default.btn-lg#resetBracket(type="button") Reset the tournament
			p
				button.btn.btn-primary.btn-lg.btn-block#simulateTournament(type="button") Simulate a tournament!
		h1 2014 NCAA Tournament Bracket (teams not yet announced)
		div#bracket
		h3 Seeding Matchup Probabilities
		table.table.table-striped.table-bordered#predictionsTable