extends layout

block scripts
	script.
		$(document).ready(function(){ 
		//generate table of the odds csv we loaded
		var table = ""
		var predictions = '#{predictions}'
		function htmlDecode(input){
			var e = document.createElement('div');
			e.innerHTML = input;
			return e.childNodes[0].nodeValue;
		}
		//convert sanitized html to actual html and insert our predictions table
		tableHtml = htmlDecode(predictions)
		$('#predictionsTable').append(tableHtml)	
		})
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-46783114-2', 'kohlibracketgenerator.herokuapp.com');
		ga('send', 'pageview');
	script(src="js/jquerybracket.js")
	link(rel='stylesheet', href='/css/bracket.css')
	script(src="js/bracketgen.js")
block content
	div.container
		div.jumbotron
			h1= title
			p.  <br/>
				Every year when March Madness rolls around, I have the same thought: "I would like to win money at this, but I know nothing about college basketball," So I wrote this app fills out realistic brackets based on the upset % for the given matchup in the table at the bottom of the page. <br/> <br/>
				These %s were generated using the method I came up with <a href="http://jameskohli.tumblr.com/post/78489177222/lets-build-a-march-madness-bracket-generator-to-win-a">here</a>, but can be freely edited below to create different outcomes. I had big plans to do simulations for the individual teams this year, but unfortunately I totally forgot the NCAA exists until yesterday, so I'm scrambling even getting the right names in here.
				This project is open source, and the code lives at <a href="https://github.com/JamesKohli/BracketGenerator">https://github.com/JamesKohli/BracketGenerator</a>. I also wrote <a href="http://jameskohli.tumblr.com/post/78489177222/lets-build-a-march-madness-bracket-generator-to-win-a">a</a> <a href="http://jameskohli.tumblr.com/post/78746152257/lets-build-a-march-madness-bracket-generator-for-fun">series</a> <a href="http://jameskohli.tumblr.com/post/79396109921/lets-build-a-march-madness-bracket-generator-or-how">of</a> <a href="">posts</a> explaining the logic and code behind each step of the site.<br/><br/>
				Enjoy! Sadly, if everyone in the world uses this to fill out a bracket, we still wouldn't get it right. But you don't have to be faster than the bear...<br/> <br/>
			p
				button.btn.btn-default.btn-lg#simulateRound(type="button") Simulate a round!
				button.btn.btn-default.btn-lg#resetBracket(type="button") Reset the tournament
			p
				button.btn.btn-primary.btn-lg.btn-block#simulateTournament(type="button") Simulate a tournament!
		h1 2015 NCAA Tournament Bracket 
		h4 Click scores to edit individual outcomes 
		div#bracket
	div.container-fluid
		//h3 Team handicaps
		//h6 You can alter team skills here by entering a number between -1 (never wins) and 1 (always wins). A better than average team should probably get a bump in the range of .05-.1
		//table.table.table-striped.table-bordered#teams
			//tr
				//th Team
				//th handicap
		h3 Seeding Upset Probabilities (%)
		h6 You can edit these by entering another probability between 0 and 1
		table.table.table-striped.table-bordered#predictionsTable
			tr
				th Seeds
				th 1
				th 2
				th 3
				th 4
				th 5
				th 6	
				th 7
				th 8
				th 9
				th 10
				th 11
				th 12
				th 13
				th 14
				th 15
				th 16